// main: ../main.scss

// ==========================================================================
// Extends
// ==========================================================================

%svg-navigation {
	display: flex;
	height: 85px;

}

%bloksUsers {
	width: 50%;
}

%inputMessage {
	border: 1px solid getColor(grey, x-light);
	border-radius: 3px;
	background: getColor(grey, xx-light);
	padding: 10px;
	&::placeholder {
		color: getColor(grey, x-light);
		font-style: italic;
		font-family: arial;
	}
}
