// main: ../main.scss

// ==========================================================================
// Extends
// ==========================================================================

%svg-navigation {
	display: flex;
	height: 85px;
}

%bloksUsers {
	flex-basis: 50%;
}
