// main: ../main.scss

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-inner:before {
	padding-left: 10px;
	color: #fff;
}
input:checked + .slider {
	background-color: $ship_cove;
}
input:focus + .slider {
	box-shadow: 0 0 1px #755AAF;
	content: 'ON';
	color: #fff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
	transform: translateX(38px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	text-align: left;
	color: #fff;
	font-weight: bolder;
	padding: 6px 0 0 5px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-div {
	max-width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 0 20px 0;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
}
