// main: ../main.scss

//--------------Header--------------//
.head {
  position: relative;
  height: 50px;
  font-family: 'Tajawal', sans-serif;
  background: $ship_cove;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  z-index: 100;
  &__logo,
  &__user {
    height: 24px;
  }
  &__logo {
    color: $white;
    font-size: 19px;
  }
  &__user {
    display: flex;
    &--name {
      display: flex;
      & span {
        color: $white;
      }
    }
    &--bell {
      position: relative;
      padding-right: 15px;
      border-right: 1px solid $waikawa-gray;
      margin-right: 30px;
      cursor: pointer;
    }
  }
}
.icon-user{
  width: 24px;
  margin-right: 5px;
  & img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

//--------------Navigation Bar--------------//

.navigation{
  width: 90px;
  height: 100%;
  background: $waikawa-gray;
  position: fixed;
  top:0;
  left: 0;
  text-align: center;
  &__dashbord {
    margin-top: 90px;
  }
  &__dashbord,
  &__membr,
  &__visits,
  &__settings{
    @extend %svg-navigation;
    border-left: 4px solid rgba(0,0,0,0);
    transition: .5s;
  }
}

//--------------Search Head--------------//

.dashboard-head {
  display: flex;
  align-items: center;
    &__title {
    padding: 0 20px;
    font: em(20px) 'Tajawal', sans-serif;
  }
  &__search {
    border-left: 1px solid getColor(grey, x-light);
    border-bottom: 1px solid getColor(grey, x-light);
    background: getColor(grey, xx-light);
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    & input {
      margin-left: auto;
      height: 30px;
      width: 43%;
      min-width: 145px;
      border: 1px solid getColor(grey, x-light);
      border-radius: 3px;
      padding-left: 10px;
      &::placeholder {
        color: getColor(grey, x-light);
      }
    }
    &--button {
    position: absolute;
    height: 18px;
    top: 15px;
    right: 27px;
    & img {
      height: 100%;
    }
    }
  }
}

//--------------Alert--------------//
 .alert {
   margin-top: 20px;
   height: 40px;
   background: $ship_cove;
   border-radius: 3px;
   display: flex;
   align-items: center;
   padding-left: 20px;
   color: $white;
   position: relative;
   & span {
     margin-right: 5px;
   }
 }

//--------------Social Stats--------------//

.social-head{
  font: em(15px) "Tajawal",sans-serif;
  margin: 10px 0;
}
.social {
  display: flex;
  justify-content: space-between;
}
.nets {
  display: flex;
  align-items: flex-end;
  width: 30%;
  background: getColor(grey, xx-light);
  padding: 10px;
  border: 1px solid getColor(grey, x-light);
  border-radius: 4px;
  &__logo {
    height:45px;
    width: 45px;
    border-radius: 50%;
    background: $ship_cove;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    margin-left: 10px;
    position: relative;

    &--name{
      font-size: em(11px);
      color: $ship_cove;
      letter-spacing: 1px;
      font-weight: $font-weight--bold;
      position: absolute;
      top: -46px;
      left: 0;
    }
    &--num {
      font-size: em(30px);
      color: getColor(grey);
      padding: 0;
      position: absolute;
      bottom: -7px;
      left: 0;
    }
  }
}

//--------------Users Activity--------------//

.users-activity{
  font-family:"Tajawal",sans-serif;
  margin-top:30px;
  border-top: 1px solid getColor(grey, x-light);
  border-bottom: 1px solid getColor(grey, x-light);
  display: flex;
  &__block{
    padding: 15px $indent-left 5px;
    &--user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 0;
      font-size:em(13px);
      letter-spacing: .3px;
    }
    &--title{
      font-size:em(15px);
    }
  }
}
.line-height {
  line-height: 1.1;
  margin-left: 10px;
}
.email {
  color: $ship_cove;
  cursor: pointer;
}
.user1,
.user2,
.user3 {
  border-bottom: 1px solid getColor(grey, x-light);
}

.block1,
.block2 {
  @extend %bloksUsers;
}
.block1 {
  border-right: 1px solid getColor(grey, x-light);
}
.inline{
  display: flex;
  align-items: center;
}

//--------------Massage Footer--------------//

.massage-settings{
  display: flex;
  border-top: 1px solid getColor(grey, x-light);
  margin-top: 35px;
}
.settings,
.messageUser{
  @extend %bloksUsers;
  padding: 15px $indent-left;
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.messageUser{
  border-right: 1px solid getColor(grey, x-light);
  &__search,
  &__message,
  &__button {
    width: 100%;
  }
  &__search{
    margin-top:20px;
    height: 35px;
    @extend %inputMessage;
  }
  &__message {
    margin-top: 25px;
    height: 100px;
    @extend %inputMessage;
  }
  &__button {
    margin-top:10px;
    border: none;
    border-radius: 4px;
    height: 35px;
    background: $ship_cove;
    color: $white;
    cursor: pointer;
  }
  & form {
    position: relative;
  }
}
.autocomplete-items {
  position: absolute;
  width: 100%;
  background: $white;
  top: 55px;
  left: 0;
  border-top: 1px solid getColor(grey, x-light);
  border-right: 1px solid getColor(grey, x-light);
  border-left: 1px solid getColor(grey, x-light);
}
.bold {
  font-weight: $font-weight--bold;
}
.autocomplete-names {
  padding: 5px 10px;
  border-bottom: 1px solid getColor(grey, x-light);
  &:hover {
    background-color: getColor(grey, xx-light);
    cursor: pointer;
  }
}

//--------------Settings Footer--------------//

.settings {
  &__sendEmail {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
    &--label {
      font-size: em(13px);
    }
  }
  &__timezone {
    font: em(15px) $font-family--primary;
    width: 100%;
    @extend %inputMessage;
  }
  &__saveCancel{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    &--cancel,
    &--save{
      width: 40%;
      height: 35px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      color: $white;
    }
    &--save {
      background: $ship_cove;
    }
    &--cancel {
      background: #ccc;
    }
  }
}

.wrapper-settings__timezone{
  margin-top: 20px;
  position: relative;
}

footer {
  height: 50px;
  background: $ship_cove;
  margin-top: 200px;
}

.navigation-active{
  border-left: 4px solid green;
  fill: $white;
}

//--------------Main Traffic Chart--------------//

.traffic{
  position: relative;
  width: 60vw;
  height: 60vh;
}
.headTraffic {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
  &__nav {
    display: flex;
    &--items {
      margin-left: 10px;
      padding: 2px 10px;
      cursor: pointer;
      &:hover {
        background: green;
        border-radius:45%;
        color: $white;
      }
    }
  }
}
.active-nav-items {
  background: green;
  border-radius:45%;
  color: $white;
}

//--------------Daily Chart Traffic--------------//

.daily-users {
  border-top: 1px solid getColor(grey, x-light);
  border-bottom: 1px solid getColor(grey, x-light);
  display: flex;
  margin: 20px 0;
}
.blocks-margin {
  margin-top: 20px;
}
.charts-tittle {
  margin-left: 30px;
}
.pie-barChasts{
  margin: 20px 0;
}

//--------------PopUp--------------//

.popUp {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  display:none;
  justify-content: center;
  align-items: center;
  z-index: 200;

  &__description {
    width: 500px;
    background: $white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    &--cross {
      width: 35px;
      padding:10px;
      cursor: pointer;
      position: absolute;
      top: -6px;
      right: -4px;
    }
  }
}

//--------------Media Queries for mobile--------------//

@media (max-width: 750px) {
  .navigation{
    display: none;
  }
  .container {
    padding: 0;
  }
  .massage-settings,
  .users-activity,
  .daily-users {
    display: block;
  }
  .block1,
  .block2,
  .settings,
  .messageUser{
    width: 100%;
  }
  .social {
    flex-direction: column;
    align-items: center;
  }
  .nets {
    width: 100%;
    margin-top: 10px;
  }
  .traffic {
    height: 60vh;
  }
}
